@using MyWallet.MVC5.Infrastructure
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <title>@ViewBag.Title</title>
    <link rel=stylesheet type=text/css href="@Url.Content("~/Content/Lib/bootstrap-3.3.0-dist/css/bootstrap.min.css")" />
    <link rel=stylesheet type=text/css href="@Url.Content("~/Content/Css/common.css")" />
    @RenderSection("add_css", required: false)
    <script src="@Url.Content("~/Content/Lib/requireJS/require.js")" ></script>
    <script>
        require.config({
            paths: {
                "jquery": "/Content/Lib/jquery-3.1.1",
                "bootstrap": "/Content/Lib/bootstrap-3.3.0-dist/js/bootstrap.min",
                "common": "/Content/Scripts/common"
            },
            shim: {
                "bootstrap": ["jquery"]
            }
        });
        require(["jquery", "bootstrap", "common"], function () { });
    </script>
    @RenderSection("add_scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
